/* Small Screen */
.container {
  margin: 1rem;
}

.contents__container {
  display: flex;
  flex-direction: column;
}

.contents {
  margin: 5rem 0;
  text-align: center;
}

.contents__title {
  margin-bottom: 1rem;
  font-size: 3.815rem;
  color: #00B0FF;
}

.contents__description {
  /* margin-bottom: 1rem; */
  font-size: 1.953rem;
  color: #073B4C;
}


.content{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 1rem auto;
  padding: 1rem auto;
  /* flex-basis: 70%; */
  width: auto;
  height: 329px;
  margin: 18px auto;
  /* text-align: center; */
  /* margin-left: 10px; */
}

/* Medium Screen */
@media (min-width: 768px) {
  .contents__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .content {
    flex-basis: 75%;
    width: auto;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .content {
    flex-basis: 30%;
    width: auto;
  }
}
