.card {
    width: 384px;
    height: 329px;
    margin-bottom: 2rem;
    margin-right: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
    
.card__title {
    font-size: 2rem;
    color: #64748b;
}

.card__subtitle {
    font-size: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:first-child .card__subtitle{
    color: #ffa600;
}

.card:nth-child(2) .card__subtitle {
    color: #FF0000;
}

.card:nth-child(3) .card__subtitle {
    color: 	#00B0FF
}

    /* medium screen */
@media (min-width: 768px) {
    .card {
        max-width: 3000px;
        margin: 3rem auto;
        text-align: center;
    }

    .card {
        flex-basis: 50%;
    }
}

    /* Large Screen */
@media (min-width: 992px) {
    .card {
        max-width: 1500px;
        margin: 3rem auto;
    }

    .card {
        flex-basis: 30%;
        padding: 1rem;
    }
}